{:paths ["."]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}}
 :aliases {:run {:main-opts ["-m" "main"]}}}
